*{
    font-family: Poppins, sans-serif;
}

.full-width-outer{
    width: 100%;
    height: auto;
}

.btn-area{
    position: absolute;
    right: 0;
    top: 10px;
}

.stickers-outer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
    max-height: 50vh;
    overflow-y: auto;
}

.sticker-inner{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #eee;
    background-color: rgba(255, 255, 255, 0.986);
    box-shadow: inset rgba(0, 0, 0, 0.13) 0px 4px 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sticker-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

/* Overlay for delete icon */
.sticker-inner .overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* On hover: blur image + show overlay */
.sticker-inner:hover img {
  filter: blur(2px);
}

.sticker-inner:hover .overlay {
  opacity: 1;
}